version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: ban_note_development
      MYSQL_USER: MJ
      MYSQL_PASSWORD: MJ12
    ports:
      - "3310:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - ban_note_network

volumes:
  db_data:

networks:
  ban_note_network:
    name: ban_note_shared_network
